<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로모션 상세</title>
    <th:block th:replace="~{fragments/layout :: cssjs}"/>
</head>
<body>

<div th:replace="~{/fragments/layout :: header}"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-body">
                    <h5 class="card-title" th:text="${promotion.title}">타이틀</h5>
                    </h5>
                    <p class="card-text">
                        상세 : <span th:text="${promotion.context}"></span>
                        <br>
                        수량 : <span th:text="${promotion.quantity}"></span>
                    </p>
                    <button type="button" class="btn btn-primary" id="joinPromotion">쿠폰발급</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/layout :: footer}"></div>

<script th:inline="javascript">
    function handleOrder() {
        const uid = '<%=(String)session.getAttribute("uid")%>';
        console.log(uid);
        if (uid === "null") {
            alert("로그인을 먼저 하세요!");
        }else{
            alert("발급 요청");
            $("#issueCoupon").submit();
        }
    }
</script>

<script th:inline="javascript">
    $(function () {
        $("#joinPromotion").click(function () {
            handleOrder();
        });
    });
</script>

<form id="issueCoupon" th:action="@{/promotions/{id}(id=${promotion.promotionId})}" method="post">
        <input type="hidden" name="promotionId" th:value="${promotion.promotionId}">
</form>
</body>
</html>